<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>

    <a href="./order-summary"> Back </a>
    <h1> Payment </h1>
    <input type="radio" id="paymentChoice1"
       name="payment" value="Bank Card">
    <label for="paymentChoice1"> Bank Card</label> <br>
    <input type="radio" id="paymentChoice2"
       name="payment" value="Google Pay">
    <label for="paymentChoice2">Google Pay</label> <br>
    <input type="radio" id="paymentChoice3"
       name="payment" value="Apple Pay">
    <label for="paymentChoice3">Apple Pay</label> <br>
    <button> <a href="./payment-details"> Continue </a> </button>

</body>
</html>