<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Details </title>
</head>
<body>
    <a href="./payment-type"> Back </a>
    <h1> Payment Details </h1>
    <label for="accountNumber">Account Number:</label><br>
    <input type="text" id="accountNumber" name="accountNumber"><br><br>
    <label for="sortCode">Sort Code:</label><br>
    <input type="text" id="sortCode" name="sortCode"><br><br>
    <label for="expiryDate">Expiry Date</label><br>
    <input type="text" id="expiryDate" name="expiryDate"><br><br>
    <label for="cvc">CVC:</label><br>
    <input type="text" id="cvc" name="cvc"><br> <br>
    <button> <a href="./order-confirmation"> Continue </a> </button>
</body>
</html>